<div id="facets" class="col-md-3 col-md-offset-0">
<h3>Search/browse the video test corpus</h3>

  <% # I removed URL from this array %>
  <% facet_arr = [:DocType, :Duration, :DocTypeVersion, :DocTypeReadVersion, :CRC32_Count, :Void_Count, :SeekHead_Count, :Info_Count,
      :Cluster_Count, :Tracks_Count, :Cues_Count, :Attachments_Count, :Chapters_Count, :Tags_Count, :MuxingApp, :WritingApp, :DateUTC,
      :CodecID_Video, :CodecID_Audio, :Format, :FileSize, :OverallBitRate, :EBML_ELEM_START, :EBML_VER_COH, 
      :EBML_DOCVER_COH, :EBML_ELEMENT_VALID_PARENT, :EBML_ELEMENT_NONMULTIPLES, :EBML_ELEMENT_CONTAINS_MANDATES, 
      :EBML_VALID_MAXID, :EBML_VALID_MAXSIZE, :ELEMENTS_WITHIN_MAXIDLENGTH, :ELEMENTS_WITHIN_MAXSIZELENGTH, 
      :EBML_CRC_FIRST, :EBML_CRC_VALID, :EBML_CRC_LENGTH, :MKV_SEGMENT_UID_LENGTH, :MKV_VALID_TRACKTYPE_VALUE, 
      :MKV_VALID_BOOLEANS, :MKV_SEEK_RESOLVE] %>
<% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
  <% end %>
<div class="form-group">
  <span class="input-group">
  <%= form_tag videos_path, :method => :get do %>
      <%= text_field_tag :search, params[:search], :class => "form-control", :size => 5 %>
      <%= select_tag 'category', options_for_select(facet_arr, ""), :class => "form-control input-group-addon" %>
      <div class="input-group-btn">
        <a href="/videos" class="btn btn-default">Reset</a>
        <%= submit_tag "Search", :name => nil, :class => "btn btn-primary" %>
      </div>
  <% end %>
  </span>
</div>

  <% facet_arr.each_with_index do |facet, index| %>
  <div class="panel" data-toggle="collapse" data-target="#facet-format">
    <p class="panel-title facet-field-heading"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><%= facet.to_s %></a></p>
    <ul class="panel-collapse collapse in" id="collapseOne">
        <% for row in @search.facet(facet).rows  %>
      <li>
        <% if params[facet].blank? %>
            <%= link_to row.value, facet => row.value %> (<%= row.count %>)
          <% else %>
            <strong><%= row.value %></strong> (<%= link_to "remove", facet => nil %>)
          <% end %>
      </li>
      <% end %>
    </ul>
   </div>
  <% end %>
</div>

<div id="videos" class="col-md-8 col-md-offset-0">
  <h3><strong>Results</strong></h3> 
  <h3>Page <%= params[:page] || 1  %> |
  <% if params[:page].present? && params[:page] != "1" %> <a href="?page=<%= @previous %>">Previous</a> | <% end %>
  <% if params[:page].present? && params[:page] != "1" %> 
    <a href="?page=<%= @next %>">Next</a> 
  <% else %>
    <a href="?page=<%= @next + 1 %>">Next</a> 
  <% end %>
  </h3>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>ID #</th>
        <th>DocType</th>
        <th>DocType
        Version</th>
        <th>Format</th>
        <th>Duration</th>
        <th>MuxingApp</th>
        <th>WritingApp</th>
        <th>CodecID_Video</th>
        <th>CodecID_Audio</th>
      </tr>
    </thead>
    <tbody>
        <% for row in @videos %>
      <tr>
        <td><a href="/videos/<%= row.id  %>"><%=  row.id %></a></td>
        <td><%=  row.DocType %></td>
        <td><%=  row.DocTypeVersion %></td>
        <td><%=  row.Format %></td>
        <td><%=  row.Duration %></td>
        <td><%=  row.MuxingApp %></td>
        <td><%=  row.WritingApp %></td>
        <td><%=  row.CodecID_Video %></td>
        <td><%=  row.CodecID_Audio %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>